body{
    background-color: black;
    font-family:'Times New Roman', Times, serif ;
}

.container{
    display: flex;
    height:auto;
    margin: 30px;
    background-color:white;
    max-width: auto;
    border-radius: 50px;
    overflow: hidden;
    overflow-y:3px;
}

    
.image-box{
    width:50%;
}

.img{
    width:100%;
    object-fit:cover;
    height:100%;
}

.context-box{
     background-color:aliceblue;
     width:60%;
     padding:10px;
     text-align: justify;
     font-size: 20px;
}


.form{
    background-color: rgb(200, 210, 212);
    position: absolute;
    height: auto;
    max-width: 700px;
    border-radius: 70px;
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

#textarea{
    margin-left: 30px;
    margin-top: 5px;
    margin-right: 60px;
    padding: 10px;
    border-radius: 30px;
}

.button-form{
    position: relative;
    bottom:150px;
    left:350px;
    
}

.action{
    position: absolute;
    width:100px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 40px;
    font-size: 15px;
    font-weight:bold;
    border-radius: 25px;
    padding:15px;
    border:none;
    cursor: pointer;
    transition:  transform 0.5s ease;
    transition: box-shadow 0.4s ease border-color 0.4s ease ;
}

.action:hover{
    background-color:black;
    color:white;
    transform: scale(1.2);
    box-shadow: 0 0 15px rgb(52, 59, 59), 0 0 25px  rgb(52, 59, 59) ;
    border-color:  rgb(52, 59, 59);
}


#name{
    margin-left: 5px;
    margin-right: 40px;
}

#state{
    margin-left: 10px;
   
}

 input{
        border-radius: 10px;
        font-size: 15px;
        padding: 5px;
        border: none;
        max-width: auto;
        width:auto;
    }

    .my-name{
        font-size:25px;
        font-weight:bolder;
    }
    .name{
        font-size: 20px;
        font-weight: bolder;

    }
    .state{
        font-size: 20px;
        font-weight: bolder;

    }


    label{
        font-size: 20px;
    }

    .special{
         font-weight: bolder;

    }

    #share-journey{
        font-weight: bolder;
        margin-left: 100px;
    }

    strong{
        color:rgb(35, 30, 163);

    }

    h1{
         color:rgb(9, 7, 66);
    }